Yahoo finance python extension testing

In [ ]:
import yfinance as yf 
dat = yf.Ticker("ADEN")
eu = yf.Market("EUROPE")

In [ ]:
eu.summary

Scraping tests

In [ ]:
import requests
import pandas as pd
import json

In [ ]:
def get_income_statement(ticker): 
    url = f"https://marketplace.financialmodelingprep.com/public/income-statement/{ticker}?period=annual&limit=4&apikey="
        
    response = requests.get(url).json()

    with open("test.json", "w") as f:
        json.dump(response, f)


get_income_statement("UHR.SW")

In [ ]:
    
companies = pd.read_csv("data\equity_issuers.csv", delimiter=";", encoding = "ISO-8859-1")

In [ ]:
for i, row in companies.iterrows():
    name = row["Company"]
    ticker = row["Symbol"] + ".SW"
    
    
    print("The ticker for " + name + " is " + ticker)

Data Prep

In [8]:
import numpy as np
import pandas as pd
import os
import glob

In [2]:

df = pd.read_json(r"data\balance_sheets\Zug Estates Holding AG_balance_sheet_statement.json")

df

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,cashAndCashEquivalents,shortTermInvestments,...,totalStockholdersEquity,totalEquity,totalLiabilitiesAndStockholdersEquity,minorityInterest,totalLiabilitiesAndTotalEquity,totalInvestments,totalDebt,netDebt,link,finalLink
0,2024-12-31,ZUGN.SW,CHF,0,2024-12-31,2024-12-31 00:00:00,2024,FY,16996000,0,...,1028813000,1028813000,1833297000,0,1833297000,141000,658215000,641219000,https://www.six-group.com/en/products-services...,https://www.six-group.com/en/products-services...
1,2023-12-31,ZUGN.SW,CHF,0,2023-12-31,2023-12-30 19:00:00,2023,FY,20117000,0,...,992537000,992537000,1806813000,0,1806813000,169000,674240000,654123000,https://www.six-group.com/en/products-services...,https://www.six-group.com/en/products-services...
2,2022-12-31,ZUGN.SW,CHF,0,2022-12-31,2022-12-30 19:00:00,2022,FY,17319000,0,...,989253000,989253000,1792074000,0,1792074000,189000,660470000,643151000,https://www.six-group.com/en/products-services...,https://www.six-group.com/en/products-services...
3,2021-12-31,ZUGN.SW,CHF,0,2021-12-31,2021-12-30 19:00:00,2021,FY,18691000,0,...,968578000,968578000,1658283000,0,1658283000,213000,561097000,542406000,https://www.six-group.com/en/products-services...,https://www.six-group.com/en/products-services...

In [ ]:
# creating dataset with all available balance sheets

balance_sheets = pd.DataFrame()

file_list = glob.glob(r".\data\balance_sheets\*.json")

dfs = [] # an empty list to store the data frames
for file in file_list:
    data = pd.read_json(file)
    dfs.append(data)

balance_sheets = pd.concat(dfs, ignore_index=True)

balance_sheets.to_csv("datasets/balance_sheets.csv")

In [20]:
# creating dataset with all available cash flow statements

cash_flows = pd.DataFrame()

file_list = glob.glob(rf".\data\cash_flow_statements\*.json")

dfs = [] # an empty list to store the data frames
for file in file_list:
    data = pd.read_json(file)
    dfs.append(data)
    
cash_flows = pd.concat(dfs, ignore_index=True)

cash_flows.to_csv("datasets/cash_flows.csv")

In [21]:
# creating dataset with all available income statements

income_statements = pd.DataFrame()

file_list = glob.glob(rf".\data\income_statements\*.json")

dfs = []
for file in file_list:
    data = pd.read_json(file)
    dfs.append(data)
    
income_statements = pd.concat(dfs, ignore_index=True)

income_statements.to_csv("datasets/income_statements.csv")